@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #18171d;
  font-family: "Inter", sans-serif;
}

.heading {
  color: white;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
  letter-spacing: 4px;
}
